:root {
  --branding-color: rgba(43, 22, 101, 0.616);
  --secondary-color: rgb(20, 5, 63);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  color: white;
  font-size: 96px;
  font-weight: 700;
}
h2 {
  font-size: 64px;
}
h3 {
  font-size: 48px;
}
p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.7;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  color: white;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: 400;
  font-size: 24;
  line-height: 1.5;
  opacity: 40%;
  color: white;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  padding: 15px, 30px;
  font-family: "Poppins", sans-serif;
  line-height: 27px;
  font-weight: 500;
  font-size: 18px;
}

.btn-branding-outline {
  background: var(--branding-color);
  color: white;
  border-radius: 4px;
  line-height: 27px;
  font-weight: 500;
  font-size: 18px;
}

.project-description {
  padding: 120px 60px;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
  color: white;
}
footer h3 {
  color: white;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: white;
  background: var(--secondary-color);
  padding: 10px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--branding-color);
  background: white;
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  h3 {
    font-size: 30px;
  }
  .btn {
    font-size: 18px;
  }
  .hero {
    padding: 80px 20px;
  }

  .project-despcription {
    padding: 0;
    text-align: center;
  }
  .logo {
    max-height: 40px;
  }
  nav a {
    font-size: 14px;
  }
  .content {
    text-align: center;
    padding: 0;
  }
}
.content {
  background: var(--secondary-color);
  text-align: center;
  padding: 0 30px 0 30px;
}
.content h1 {
  font-size: 46px;
  line-height: 80px;
  font-family: var(--heading-font-family);
}
.content h2 {
  font-size: 18px;
  color: white;
  font-family: var(--heading-font-family);
}
.content h3 {
  color: white;
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}
.content p {
  font-size: 14px;
  font-family: var(--default-font-family);
  color: white;
}
.content-container {
  margin: 30px auto;
}
nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  color: black;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

nav li.active a,
nav a:hover {
  color: var(--branding-color);
}
